* {
    margin: 0px auto;
}

html,
body {
    /* background: #202020; */
    background: #21252B;
    /* color: #989898; */
    color: #fff;
    /* border: solid 1px #B2161D; */

    font-family: Hack;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    font-size: 14px;
    line-height: 1.4;
    overflow: hidden;
}

h2 {
    font-size: 14px;
}

.maintile {
    /* background: #665888; */
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.application {
    margin: 10px auto;
    padding: 5px 5px;
    /* border: solid 1px #665888; */
    background: #292C35;
    display: flex;
    width: 800px;
}

.sidebar {
    border: solid 1px #474A4F;
    width: 30%;
    padding: 10px;
}

.page {
    border: solid 1px #474A4F;
    margin-left: 5px;
    padding: 20px 5px 5px 20px;
    width: 70%;
}

.ava {
    border: solid 1px #474A4F;
    width: 85%;
    display: flex;
}

.ava-style {
    width: 100%;
}

.resume-header {}

.resume-description {
    color: #989898;
}

.tech-skills {
    color: #4AA5F0;
}

.soft-skills {
    color: #E05561;
}