* {
    margin: 0px auto;
}

html,
body {
    /* background: #202020; */
    background: #21252B;
    color: #adb3c1;
    /* color: #fff; */
    /* border: solid 1px #B2161D; */

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    font-size: 16px;
    line-height: 1.4;
    overflow: hidden;
}

.maintile {
    /* background: #665888; */
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.application {
    margin: 10px auto;
    padding: 5px 5px;
    /* border: solid 1px #665888; */
    background: #292C35;
    display: flex;
    width: 800px;
}

.sidebar {
    border: dashed 2px #474A4F;
    width: 30%;
}

.page {
    border: dashed 2px #474A4F;
    margin-left: 5px;
    padding: 15px 15px 15px 15px;
    width: 70%;
}

.ava {
    border: solid 0px #474A4F;
    display: flex;
}

.ava-style {
    width: 100%;
    border-radius: 10px;
    opacity: 100%;
    margin: 10px 10px 10px 10px;
}

.resume-header {}

.resume-description {
    color: #989898;
}

.contacts {
    margin: 10px 10px 10px 10px;
}

a {
    color: #adb3c1;
    text-decoration-style: dashed;
    text-decoration-color: #4AA5F0;
}

a:hover {
    color: #4AA5F0;
    /* text-decoration-style: dashed; */
}

ul {
    margin: 5px;
    padding-left: 10px;
    list-style-type: none;
}

li {}

.tech-skills {
    margin: 10px 10px 10px 10px;
}

.soft-skills {
    margin: 10px 10px 10px 10px;
}

.header {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
}

.ocher {
    background: #D19058;
    color: #292C35;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    font-size: 14px;
    /* width: 100%; */
    margin-left: 5px;
    display: inline-block;
    /* vertical-align: top; */
}

.green-marker {
    background: #98c379;
    color: #292C35;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    font-size: 14px;
    /* width: 100%; */
    margin-left: 5px;
    display: inline-block;
    /* vertical-align: top; */
}